@font-face {
    font-family: 'font1';
    src: url('../../fonts/Mommy\ Talk.otf');
}

@font-face {
    font-family: 'font2';
    src: url('../../fonts/Mommy\ Talk.ttf');
}

* {

    margin: 0px;
    box-sizing: border-box;

}

.imagens {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#background {

    height: 100%;
    width: 100%;
    position: relative;
}

#elemento1 {

    transition: 0.5s;
    margin-bottom: 1150px;
    position: fixed;
    z-index: 3;

}

#elemento2 {

    transition: 0.5s;
    position: fixed;
    z-index: 3;

}

#cliqueemmim {

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #703128;
    color: #fff;
    border-radius: 50px;
    height: 75px;
    width: 200px;
    margin-top: 600px;
    z-index: 2;
    text-align: center;
    text-decoration: none;
    font-family: 'font1';
}


.imagens h1 {

    margin-bottom: 600px;
    position: absolute;
    z-index: 1;
    color: #703128;
    font: 26px 'font1';

}



@media (width: 414px) {


    #background {

        height: 902px;
        width: 414px;
        margin-top: 150px;
    }

    #elemento1 {

        height: 150px;
        width: 150px;
        margin-top: 250px;
        margin-right: 250px;
        height: 50px;
        width: 50px;
        margin-bottom: px;
        position: fixed;

    }

    #elemento2 {

        margin-bottom: 0px;
        position: fixed;
        margin-top: 0px;
        margin-right: 275px;
        height: 150px;
        width: 150px;
    }

    .imagens h1 {

        margin-bottom: 450px;
        margin-left: 0px;
        position: absolute;
        z-index: 1;
        text-align: center;
        color: #703128;
        font: 24px 'font1';

    }

    #cliqueemmim {

        margin-top: 450px;

    }


}