@font-face {
    font-family: 'font1';
    src: url('../fonts/font1.woff2');
}

@font-face {
    font-family: 'font2';
    src: url('../fonts/font2.woff2');
}

@font-face {
    font-family: 'font3';
    src: url('../fonts/font3.woff2');
}

@font-face {
    font-family: 'font4';
    src: url('../fonts/font4.woff2');
}

@font-face {
    font-family: 'font5';
    src: url('../fonts/font5.woff2');
}

@font-face {
    font-family: 'font6';
    src: url('../fonts/font6.woff2');
}

@font-face {
    font-family: 'font7';
    src: url('../fonts/font7.woff2');
}

@font-face {
    font-family: 'font8';
    src: url('../fonts/font8.woff2');
}

@font-face {
    font-family: 'font9';
    src: url('../fonts/font9.woff2');
}

@font-face {
    font-family: 'font10';
    src: url('../fonts/font10');
}