@font-face {
    font-family: 'Kadwa';
    src: url('../../SRC/ASSETS/FONTS/Kadwa-Regular.ttf');
}

@font-face {
    font-family: 'inter';
    src: url('../../SRC/ASSETS/FONTS/static/Inter-SemiBold.ttf');
}

@font-face {
    font-family: 'irishgrover';
    src: url('../../SRC/ASSETS/FONTS/IrishGrover-Regular.ttf');
}

